'.CodeMirror textarea':
  'ctrl-[': 'false'

'.CodeMirror.vim-mode:not(.insert-mode):not(.key-buffering) textarea':
  'ctrl-e': 'view:toggle-preview'

'.CodeMirror.vim-mode.insert-mode textarea':
  'ctrl-[': 'vim:exit-insert-mode'
  
'.CodeMirror.vim-mode.normal-mode textarea':
  'ctrl-[':'vim:reset-normal-mode'

'.CodeMirror.vim-mode.replace-mode textarea':
  'ctrl-[':'vim:exit-insert-mode'

'.CodeMirror.vim-mode.visual-mode textarea':
  'ctrl-[':'vim:exit-visual-mode'



